* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161616;
}

.portfolio {
  background-color: #161616;
  border: 1px solid #fff;
  position: relative;
  margin: 53px auto;
  width: 595px;
  height: 842px;
}

.portfolio-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  line-height: 108.4%;
  /* identical to box height, or 141px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffea00;
}

.portfolio-contact {
  position: absolute;
  width: 330px;
  height: 32px;
  left: 40px;
  top: 640px;
  font-family: "Avenir Next";
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.portfolio-email {
  position: absolute;
  left: 40px;
  top: 701px;
}

.portfolio-phone {
  position: absolute;
  left: 40px;
  top: 748px;
}

.portfolio .phone-text {
  font-family: "Avenir Next";
  font-size: 9px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffea00;
}

.portfolio .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Avenir Next";
  font-size: 12px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.portfolio .email-text {
  font-family: "Avenir Next";
  font-size: 9px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffea00;
}

.portfolio .email-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Avenir Next";
  font-size: 12px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.portfolio p {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-footer {
  border: 1px dashed #393939;
  position: absolute;
  width: 100%;
  height: 0px;
  top: 719px;
  margin: 0 auto;
  position: relative;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-footer-button-prew, .portfolio-footer-button-nxt {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style9.css.map */